{% extends 'base.html.twig' %}

{% block title %}Create Subject{% endblock %}

{% block body %}
    <h1>Create Subject</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.date, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('subject_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
