{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}
    <h1>Subjects</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.date|date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('subject_edit', {id: subject.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('subject_delete', {id: subject.id}) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('subject_create') }}" class="btn btn-primary">Create New Subject</a>
{% endblock %}

